@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: "Quicksand";
  background-color: #2A153A;
}

.lady {
  width: 700px;
  height: 654px;

  background: url("./lady.png") no-repeat;
}

.company {
  width: 10px;
  height: 10px;
  background: url("./company.png") no-repeat;
}